*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Noto Sans', sans-serif;
}

h1,h2,h3,h4,h5{
    font-family: 'Fjalla One', sans-serif;
}

.cover{
    height: 400px;
    color: #ffffff;
    background-image: url(../img/cover-img.jpg);
    background-size: cover;
    background-position: center;
    background-color: rgba(0, 0, 0,.6);
    background-blend-mode:darken;
}

.cover-small{
    height: 250px;
    background-blend-mode: normal;
}

.card{
    border: 0 !important;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0,0.1),0 2px 4px -1px rgba(0, 0, 0,0.5),0 2px 4px -1px rgba(0, 0, 0,0.5),0 2px 4px -1px rgba(0, 0, 0,0.5);
    
}

.card-title{
    min-height: 3rem;
}

.card-text{
    min-height: 7rem;
}